.add-track-wrapper {
  width: 100%;
  height: 220px;
  box-shadow: 3px 3px 10px 2px #ccc;
  border-radius: 0.5em;
  border: none;
  background-color: white;
  display: grid;
  place-items: center;
  position: relative;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  &:hover {
    box-shadow: 4px 4px 10px 3px #ccc;
  }
  &:active {
    box-shadow: inset 2px 2px 7px 1px #ccc;
  }
  &--selected {
    box-shadow: inset 2px 2px 7px 1px #ccc;
  }
  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
  }
}

.add-track-input {
  overflow: hidden;
  width: 0;
}
