.map-controls-wrapper {
  position: absolute;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  align-self: flex-start;
  justify-self: flex-start;
  & button {
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: white;
    padding: 0.4em;
    font-weight: 500;
    padding-left: 0.7em;
    padding-right: 0.7em;
    &:active {
      background-color: #ccc;
    }
  }
}
