.track-card {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  height: 150px;
  border-radius: 0.5em;
  box-shadow: 3px 3px 10px 2px #ccc;
  font-family: "Rubik", sans-serif;
  border: none;
  font-size: 1.6rem;
  background-color: white;
  align-content: space-around;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  & div {
    display: grid;
    & :first-child {
      font-size: 1.2rem;
      margin-bottom: 0.5em;
      color: gray;
    }
  }
  &:hover:not(&--active) {
    box-shadow: 4px 4px 10px 3px #ccc;
  }
  &:active, &--active {
    box-shadow: inset 2px 2px 7px 1px #ccc;
  }
  &--demo {
    background-image: linear-gradient(120deg, #fff1eb 0%, #ace0f9 100%);
  }
}

