.tracks-cards-block {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  width: 70%;
  flex-wrap: wrap;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
