.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.map-wrapper {
  width: 70%;
  position: relative;
  height: 500px;
  border-radius: .5rem;
  overflow: hidden;
}
